.messageBox {
    /* background: #f3f3f3; */
    /* border-radius: 20px; */
    padding: 5px 20px;
    /* color: white; */
    display: inline-block;
    max-width: 80%;
}

.other {
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mine {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1em;
    word-wrap: break-word;
    padding: 2px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
}

.sentText {
    display: flex;
    align-items: center;
    /* font-family: Helvetica; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: white;
    /* font-weight: 900; */
    letter-spacing: 0.3px;
}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.colorWhite {
    color: white;
}

.colorDark {
    color: white;
}

.backgroundBlue {
    background: linear-gradient(46.77deg, #0066FF 15.68%, rgba(169, 85, 183, 0.911342) 70.66%);
    /* background: linear-gradient(135.49deg, #EC1313 11.04%, rgba(232, 83, 19, 0.983505) 34.01%, rgba(197, 128, 23, 0.833333) 101.04%, rgba(5, 45, 188, 0) 101.05%, rgba(148, 29, 83, 0.619792) 101.05%); */
    ;
}

.backgroundLight {
    background: transparent;
    /* border: 1px solid rgb(128, 128, 128); */
    margin-left: 10px;
    display: flex;
    align-items: center;
    background: #3f414a;
}

.messageContainer>.MuiAvatar-root {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    margin-bottom: 15px;
}

.transparentBackground {
    background: transparent;
}