.commentList__viewFullPost>p {

    font-size: 14px;
    color: lightgray;
    line-height: inherit;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.commentList__viewFullPost {
    margin-left: 20px;
    margin-bottom: 20px;
}