.createPartyForm {
  width: fit-content;
  padding: 0 70px 0 70px;
  min-height: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.createPartyForm__heading {
  /* border-bottom: 1px solid rgb(129, 129, 129); */
  height: 60px;
  display: flex;
  align-items: center;

}

.createPartyForm__container {
  max-height: 461px;
  overflow-y: scroll;
  padding-right: 40px;
}

.createPartyForm__heading>h1 {
  font-size: 30px;
  font-weight: 900;
}

.createPartyForm__roomTitle {
  margin-top: 10px;
}

.createPartyForm__roomDescription {
  margin-top: 10px;
}

.createPartyForm__contentSelection {
  margin-top: 10px;
}

.createPartyForm__privacySelection {
  margin-top: 10px;
}

.createPartyForm__actionButtons {
  margin-top: 10px;
}

.createPartyForm__contentSelection__question,
.createPartyForm__privacySelection__question {
  margin-top: 10px;
  margin-bottom: 10px;
}

.createPartyForm__privacySelection_radioButton {
  display: flex;
  justify-content: space-between;
}

.createPartyForm__actionButtons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px 0;
}

.createPartyForm__genreSelections__contents {
  display: flex;
  justify-content: space-between;
}