.leftSideBar__container {
    top: 0;
    height: 100vh;
    background-color: var(--lightBlack);
    width: 90px;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    
    /* border-top-right-radius: 73px; */
    /* border-bottom-right-radius: 73px; */
    position: fixed;
    /* transform: translate(0, 15%); */
    display: flex;
    flex-flow: column;
    /* justify-content: space-evenly; */
    align-items: center;
    z-index: 1;
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.leftSideBar__container__upmargin{
    width: 100%;
    height: 70px;
}
.leftSideBar__container__iconList{
display: flex;
flex-flow: column;
align-items: center;
height: 100%;
justify-content: space-evenly;
}
.loading_avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(97, 97, 97);
}

/* .leftSideBar__container:hover {
    width: 190px;

} */

.leftSideBar__container__icon>.MuiButtonBase-root>.MuiIconButton-label>.MuiSvgIcon-root {
    font-size: 40px !important;
    color: var(--icon);
}

.badge>.MuiButtonBase-root>.MuiIconButton-label>.MuiBadge-root>.MuiSvgIcon-root {
    font-size: 40px !important;
    color: var(--icon);
}



.leftSideBar__container__icon>.MuiAvatar-root {
    width: 45px;
    height: 45px
}

.hover {
    transition: 450ms;
}

.hover:hover {
    border-radius: 50%;
    transform: scale(1.09);

}


.notificationClickAway {
    height: 300px;
    width: 250px;
    top: -120px;
    overflow-y: auto;
    left: 88px;
    right: 0;
    padding: 8px;
    z-index: 100;
    position: absolute;
    background-color: var(--lightBlack);
    border-radius: 10px;
    transition: ease-in;
    border: 1px solid var(--border);
}

.notificationClickAway>* {
    margin-bottom: 5px;
}

.leftSideBar__container__icons--add {
    background: var(--purpleGradient);
    border-radius: 100px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-1px 1px 4px rgba(121, 121, 121, 0.25));
    transition: 450ms;
}

.leftSideBar__container__icons--add>.MuiButtonBase-root>.MuiIconButton-label>.MuiSvgIcon-root {
    font-size: 40px !important;
    color: white;
}

.leftSideBar__container__icons--add:hover {
    transform: scale(1.08);
}

.leftSideBar__container__icon--click_away {
    position: relative;
    transition: 450ms;
}

.clickAwayListener--content {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: baseline;
    height: 201px;
    width: 201px;
    top: -70px;
    left: 88px;
    right: 0;
    /* border: 1px solid; */
    padding: 8px;
    z-index: 100;
    position: absolute;
    background-color: var(--lightBlack);
    border-radius: 10px;
    transition: ease-in;
    border: 1px solid var(--border);
}

.clickAwayListener--content>.clickAwayListener--content--menu>h4 {
    margin-left: 15px;
    font-size: 18px;
    color: var(--boldText);
    transition: 450ms;
    font-family: Arial, Helvetica, sans-serif;
}

.clickAwayListener--content--menu{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: first baseline;
    align-items: center;cursor: pointer;
}
.clickAwayListener--content--menu:hover{
    background-color: var(--palletes);   
}

@media only screen and (max-width:750px) {
  /* body{
      background-color: green;
  } */

 
}