/* .movieRow__slider--image {
    object-fit: contain;
    border-radius: 10px;
    max-width: 200px;
    transition: transform 450ms;
}

.movieRow__slider--image:hover {
    transform: scale(1.08);
    opacity: 1;
    z-index: 100;
    cursor: pointer;
} */

.movieRow {
    /* position: relative; */
    margin-top: 150px;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    display: flex;
    flex-flow: column;
}

/* .movieRow__poster {
    height: 300px;
} */

.movieRow__slider {
    margin-top: 20px;
    width: 84rem;
    height: 300px;
}

.movieRow__titleText {
    color: lightgray;
}

.movies__slider>.slick-slider>.slick-prev {
    /* visibility: hidden !important; */
    margin-left: -35px !important;
}

/* 
    max-width: 200px;
    border-radius: 20px;
    object-fit: contain; */