.movieRow__slider--image {
    object-fit: contain;
    border-radius: 10px;
    max-width: 200px;
    transition: transform 450ms;
}

.movieRow__slider--image:hover {
    transform: scale(1.08);
    opacity: 1;
    z-index: 100;
}

.movieRow {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-flow: column;
}

.movieRow__slider {
    margin-top: 20px;
}

.movieRow__titleText {
    color: lightgray;
}


/* 
    max-width: 200px;
    border-radius: 20px;
    object-fit: contain; */