.myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myProfile__container {
    width: 65rem;
    /* width: 90%; */
}

.myProfile__profilePhotos {
    position: relative;
}

.myProfile__profileButton {
    position: absolute;
    top: 35rem;
    position: absolute;
    left: 4.5rem;
}

.myProfile__profileButton>button {
    background: none;
    border: none;
    outline: none;
    border: 1px solid #499E4C;
    /* padding: 5px 30px 5px 30px; */
    width: 126px;
    height: 27px;
    /* background: rgb(226, 226, 226); */
    border-radius: 5px;
    /* color: rgb(75, 75, 75); */
    color: #499E4C;
    transition: 450ms;
      cursor: pointer;
}
.myProfile__profileButton>button:active {
  transform: scale(0.98);
}

.myProfile__coverPhoto {
    height: 400px;
    /* width: 65rem; */
    border-radius: 10px;
}

.myProfile__coverPhoto>img {
    height: 400px;
    width: 100%;
    /* width: 65rem; */
    object-fit: cover;
    border-radius: 10px;
}

.myProfile__displayPhoto {
    position: absolute;
    top: 22rem;
    left: 3rem;
      z-index: 3;
    /* border-radius: 40%; */

}

.myProfile__userInfo {
    margin-left: 20rem;
    margin-top: 10px;
    width: 45rem;
    min-height: 13rem;
}
.myProfile__displayPhoto>input{
    display: none;
}
.myProfile__displayPhoto>.upload{
         position: absolute;
     z-index: 4;
       height: 168px;
       width: 168px;
       border-radius: 40%;
       cursor: pointer;
       transition: 450ms;
       top: 2px;
       left: 2px;
       color: transparent;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       font-family: Arial, Helvetica, sans-serif;

}
.myProfile__displayPhoto>.upload>*{
    margin-bottom:9px
}
.myProfile__displayPhoto>.upload:hover {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    color: white;

}
.myProfile__displayPhoto>.MuiAvatar-root {
    object-fit: contain;
    height: 168px;
     width: 168px;
     border-radius: 40%;
     /* border: 2px solid white; */
    border: 2px solid lightgray;
}

.myProfile__userInfo--name>h1 {
    color: #e4e6eb;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

.myProfile__userInfo__userName>span {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    color: #b0b3b8;
    font-style: italic;
}

.myProfile__userInfo__personalityGenre>span {
    font-size: 18px;
    color: #b0b3b8;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
}

.myProfile__userInfo__userBio span {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b0b3b8;
    letter-spacing: 1px;
    font-weight: lighter;
}

.myProfile__userInfo__userName,
.myProfile__userInfo__personalityGenre {
    margin-top: 5px;
}

.myProfile__userInfo__userBio {
    margin-top: 10px;
    max-height: 100px
}

.myProfile__userData__rowItem--heading>h3 {
    color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.myProfile__userData__rowItem>span {
    color: white;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.myProfile__userData {
    margin-top: 7rem;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border)
}

.myProfile__userData__row {
    display: flex;
    justify-content: space-evenly;
    /* margin-bottom: 2rem; */

}

.myProfile__userData__rowItem {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    /* background-color: white; */
    width: 200px;
    height: 100px;
    border-radius: 7px;
    transition: color 450ms;
}

.myProfile__userData__rowItem--heading>h3:hover {
    cursor: pointer;
    color: #ffffff;
}

.myProfile__allPostButtons {
    background-color:var(--lightBlack);
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 50;
    top: 70px;
}


.myProfile__allPostButton>.MuiSvgIcon-root {
    color: white;

}


.myProfile__allPostButton {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 244px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    transition: background-color 400ms;
}

.myProfile__allPostButton>span {
    margin-top: 10px;
    font-size: 14px;
    color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.myProfile__allPostButton:hover {
    cursor: pointer;
    background-color:var(--palletes);

}

.myProfile__allPostButton.selected:hover {
    background-color: transparent;
}

.myProfile__allPostButton.selected {
    border-bottom: 2px solid greenyellow;
    border-radius: 2px;
    padding-bottom: 12px !important;
    border-bottom-style: outset;

}

.myProfile__allPostButton.selected>span {
    color: greenyellow;
}

.myProfile__allPostButton.selected>.MuiSvgIcon-root {
    color: greenyellow;
}

.myProfile__coverPhoto>input {
    display: none;
}

.myProfile__coverPhoto>.upload {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 450ms;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;
}

.myProfile__coverPhoto>.upload>* {
    margin-bottom: 9px
}

.myProfile__coverPhoto>.upload:hover {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    color: white;

}

@media only screen and (max-width:900px) {

.myProfile__container {
    width: 45rem;
}


}