

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightBlack);
  height: 70px;
  border-bottom:1px solid var(--border) ;
}

.navbar__left>.navbar__leftLogo {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  color: white;
}

/* h4 {
  color: white;
  font-size: 13px;
  padding: 10px;
} */

.navbar__center {
  display: flex;
  /* justify-content: center; */
  /* width: 100vw; */
  /* margin-right: 10px */
}

.navbar__center__icon {
  width: 124px;
  margin: 0 2px 0 2px;
  display: flex;
  /* flex-flow: column; */
  align-items: center;
  border-radius: 7px;
  justify-content: center;
  /* height: 70px */
padding: 12px 0 12px 0;
/* background-color: red; */
/* padding-bottom: 12px; */
}

.navbar__center__icon:hover{
  background-color: var(--palletes);
  cursor: pointer;
  transition: 450ms;
  /* height: 65px; */
}

.navbar__right {
  margin-right: 30px;
  width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__left {
  margin-left: 30px;
  width: 112px;
}

.navbar__center__icon>.MuiSvgIcon-root {
  font-size: 2rem ;
  color: var(--icon) ;
}
.navbar__center>.active>.MuiSvgIcon-root {
color:var(--green);
}
.navbar__center__icon.active{
  border-bottom: 3px solid var(--green);
  /* border-radius: 0px; */
  /* height: 67px; */
  border-radius: 0px;
  padding: 0 0 10px 0;
  margin-bottom: -7px;
  /* border-bottom-style: ; */
}
.navbar__center__icon.active:hover {
   background-color:transparent;
}
/* .navbar__center>.active{
  border-bottom: 3px solid var(--green);
  border-radius: 0px;
} */
.navbar__right__iconStyle .MuiSvgIcon-root {
  font-size: 1.5rem;
  color: var(--icon);
}

/* .navbar__center__icon .MuiSvgIcon-root {
  font-size: 1.5rem ;
  color: rgb(226, 226, 226);
} */

