.peopleRoomTab {
    display: flex;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--boldText);
}

.peopleRoomTab__memberList {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.peopleRoomTab__memberListCard {
    background: var(--palletes);
    margin: 10px 0 10px 0;
    width: 95%;
    border-radius: 5px;
    cursor: pointer;
}

.peopleRoomTab__memberList__header {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* margin: 10px 25px 10px 20px; */
    margin: 10px 0 10px 5px;

}

.infoUser {
    display: flex;
    align-items: center;
    position: relative;
}

.infoUser>span {
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--boldText);
    font-weight: 600;
    font-size: var(--primaryFontSize);
}
.infoUser>.MuiAvatar-root>img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.peopleRoomTab__memberList__footer {
    display: flex;
    justify-content: space-around;
    height: 50px;

    align-items: center;
}

.peopleRoomTab__memberList__button {
    color: lightgray;
    cursor: pointer;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    border-radius: 8px;
}

.peopleRoomTab__memberList__button:hover {
    background: #606370;
}

.peopleRoomTab__memberList__videoContent {
    display: flex;
    justify-content: center;

}

.poepleRoomTab__memberList__videoContainer>img {
    height: 200px;
    width: 200px;
    border-radius: 40px;
}

.poepleRoomTab__memberList__videoContainer>video {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 40px;
    transform: scaleX(-1);

}

.startVideoChat {
    width: 95%;
}

.hostCrownIcon>* {
    bottom: 32px;
    width: 1rem;
    position: absolute;
    left: 11px;
    /* font-size: 36px; */
    height: 1rem;
}