
.postDetails {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 5px 0px 5px 0px;
  width: 90%;
}

.postDetails__createdAtDetails > h5 {
  font-family: Arial,
  Helvetica,
  sans-serif;
  color: var(--secondaryText);
}
.postDetails__popularity--details {
  font-family: Arial,
  Helvetica,
  sans-serif;
  color: var(--secondaryText);
  display: flex;
}
.postDetails__popularity--details > * {
  margin-left: 10px;
}
