.rightSideBar__container {
    top: 0;
    height: 100vh;
    background-color:var(--lightBlack);
    width: 90px;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    /* border-top-left-radius: 73px; */
    /* border-bottom-left-radius: 73px; */
    position: fixed;
    /* transform: translate(0, 15%); */
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    border-left: 1px solid var(--border);
border-top: 1px solid var(--border);
border-bottom: 1px solid var(--border);
}

/* .rightSideBar__container:hover {
    width: 190px;

} */
.rightSideBar__container__iconList>*{
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
}
.rightSideBar__container__iconList {
      top: 70px;
      height: 100vh;
      background-color:var(--lightBlack);
      width: 90px;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
      /* border-top-left-radius: 73px; */
      /* border-bottom-left-radius: 73px; */
      position: fixed;
      /* transform: translate(0, 15%); */
      display: flex;
      flex-flow: column;
      /* justify-content: space-evenly; */
      align-items: center;
      z-index: 1;
      border-left: 1px solid var(--border);
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      overflow-y: auto;
}

.rightSideBar__container__icon>.MuiAvatar-root {
    width: 45px !important;
    height: 45px !important;
}