



.userNamePlate {
    max-width: 600px;
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.userNamePlate__header__userInfo {
    display: flex;
}

.userNamePlate__header__userName--info {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userNamePlate__header--name>h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* letter-spacing: 0.05em; */
    color: var(--boldText);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;

}

.userNamePlate__header--username>h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #adadad;
}

.userNamePlate__header__tags {
    font-family: 'Righteous',
        cursive;
    color: white;
}