.explore {
    display: flex;
    justify-content: center;
}

.explore__container {
    height: 100vh;
    width: 50%;
    margin-top: 100px;
}

.explore__people__recommendation {
    display: flex;
    justify-content: center;
}

.explore {
    display: flex;
    justify-content: center;
}