@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');



.liveShow__banner {
    /* : black; */
    position: relative;
    height: 100%;
    /* width: 100vw; */
}

.liveShow__banner__skin>img {
    /* display: block; */
    height: 41rem;
    /* position: relative; */
    object-fit: cover;
    width: 100%;
    /* width: 100%;
    height: 100%; */
}

.liveShow__banner__skin {
    /* position: absolute; */
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* background-color: rgb(62, 48, 138); */
    opacity: 0.4;
    /* z-index: 1; */
}

.liveShow__banner__content {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    top: 0;
}

.liveShow__banner__content>h1 {
    color: white;
    font-family: 'Poppins',
        sans-serif;
    font-size: 5rem;
    letter-spacing: 0.09ch;
    width: 59rem;
}

.liveShow__banner__content>button {
    margin-top: 40px;
    color: white;
    background: none;
    outline: none;
    border: 3px solid white;
    width: 16rem;
    height: 5rem;
    font-family: 'Poppins',
        sans-serif;
    font-size: larger;
    /* border-radius: 150px; */

    transition: 450ms;
    /* font-weight: lighter; */
}

.liveShow__banner__content>button:hover {
    margin-top: 40px;
    color: white;
    /* background: none; */
    outline: none;
    border: 3px solid purple;
    cursor: pointer;
    background: purple;
    width: 16rem;
    height: 5rem;
    opacity: 0.8;
    font-family: 'Poppins',
        sans-serif;
    /* font-size: 20px; */
    border-radius: 1px;


    /* font-weight: lighter; */
}

.liveShow__content {
    display: flex;

    justify-content: center;

}

.liveShow__content__items {
    height: 100%;
    width: 75%;
}

.liveShow__content__items {
    margin-top: 70px;
}

.liveShow__content__item {
    margin-top: 4rem;
}

.liveShow__content__items>h1 {
    color: white;
    font-family: "Franklin Gothic Medium",
        "Arial Narrow",
        Arial,
        sans-serif;
    ;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.liveShow__content__items>hr {
    border: 1px solid rgb(99, 98, 98);
}