.react-player {
  max-width: 780px !important;
  /* height: 100% !important; */
}

.images {
  display: flex;

  justify-content: space-around;
}

.movies__slider {
  margin-top: 100px;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  width: 84rem;
  display: flex;
  flex-flow: column;
}

.upcomingMovieText {
  font-size: 30px;
  color: lightgray;
}

.movies__heading {
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
}

.movieRow__slider>.slick-slider>.slick-prev {
  /* visibility: hidden !important; */
  margin-left: -35px !important;
}

.movies__content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__rows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .slick-next {
    visibility: hidden !important;
} */

/* .slides .slick-prev,
.slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
}



.slides {
    position: relative;
}

.slides .slick-prev,
.slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.slides .slick-prev {
    left: 5%;
}

.slides .slick-next {
    right: 5%;
} */

/* slick-list */
/* margin-right: 344px;

margin-left: 367px;

overflow: hidden; */
/* .slick-slide {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.slick-list {
    margin-left: -15px !important;
    margin-right: -15px !important;
    /* pointer-events: none !important; */
/* .slick-slide {
    margin: 0 27px !important;
}


/* the parent */
/* .slick-list {
    margin: 0 -27px !important;
} */

/* .slick-list {
    margin: 0 -5px !important;
}

.slick-slide>div {
    padding: 0 5px !important;
} */