.room {
    /* background-color: rgb(14, 13, 13); */
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--boldText);

}

.room__videoContent {
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-content: center;

}

.room__player-skin {
    position: absolute;
    top: 0;

    /* background-color: transparent; */
    width: 100%;
    height: 100vh;
    /* color: black; */
    display: flex;
    justify-content: space-between;

}

/* .player {
    width: 100% !important;
} */

.room__player__right {
    width: 20%;
    min-width: 30ch;
    height: 100%;
    position: fixed; 
    right: 0;
    background: var(--black); 
    display: flex;
    flex-flow: column;
    /* position: relative; */
    justify-content: space-between;
    /* align-items: flex-end; */
    transition: 200ms;
    /* transition-property: width; */
    /* border-left: 1px solid var(--border); */
    /* box-shadow: var(--boxShadow); */
    box-shadow: -0.5px 0px 10px 1px var(--black);
    
}
.room__player__right.hide {
transform: translate(100%, 0);
box-shadow: none
}

.room__player__right__toggleOpenCloseRight {
    position: absolute;
    top: 47.5%;
    right: 32px;
}

.room__player__left {
    width: 80%;
    height: 100%;
    /* background: rgb(48, 46, 63);
    opacity: 0.5; */
    transition: 200ms;
    transition-property: width;
    position: relative;
}






.player {
    transition: 200ms !important;
    transition-property: width !important;
}

.expand {
    width: 100% !important;
}

.room__player__right__chat__input>input {
    outline: none;
    background: var(--boldText);
    border: none;
    border-radius: 40px;
    padding-left: 20px;
    height: 32px;
    width: 75%;
    margin-left: 10px;

    /* width: calc(216px / 22.3); */
}

.room__player__right__chat__input {
    background: var(--lightBlack);
    border-top:1px solid var(--border);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room__player__right__chat__input>.MuiButtonBase-root>.MuiIconButton-label>.MuiSvgIcon-root {
    color: var(--boldText);
}

.greet {
    color: var(--boldText);
    font-style: italic;
    font-weight: 600;
    /* margin-left: 100%;
    margin-right: 100%; */
    display: flex;
    font-size: calc(18px / 1.4);
    justify-content: center;
    padding: 0 20px 0 20px;
    margin:20px 0 30px 0;
}

.room__player__right__content {
    height:100%;
    overflow-y: auto;

}


.room__player__right__toggleOpenCloseRight>.MuiButtonBase-root>.MuiIconButton-label>.MuiSvgIcon-root {
    color: white;
}

.hideControls {
    visibility: hidden;

}

.errorMessage {
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;

}

.errorMessage__content {

    display: flex;
    flex-flow: column;
    align-items: center;
    height: 90vh;
    justify-content: center;

}

.errorMessage__content>h2 {
    color: lightgray;
    margin-top: 30px;
}

.errorMessage__content>p {
    color: lightgray;
    margin-top: 10px;

}

.errorMessage__content>.MuiSvgIcon-root {
    color: lightgray;
    font-size: 60px;
}

.room_header {
    display: flex;
    justify-content: flex-end;
}

.hostIsNotAvailable__Content {
    width: 100%;
}

/* .room__player__right__buttons {
    height: 15%;
} */

.room__player__right__inviteButtom>button {
    border: 0;
    outline: 0;
    background: 0;
    color: white;
    width: 100%;
    background: var(--green);
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.room__player__right__inviteButtom>button:hover {
    font-weight: bold;

}

.room__player__right__inviteButtom>button:active {
    background: #5fcc62;
}

.room__player__right__tabs {
    display: flex;
    justify-content: space-around;
    /* background: #3F414A; */
    background: var(--lightBlack);
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--border);
}

.room__player__right__tab {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 75%;
    border-radius: 10px;
}

.room__player__right__tab.selected>.MuiSvgIcon-root {
    color: var(--green);
}

.room__player__right__tab:hover {
    background: var(--palletes);
    transition: 300ms
}

.room__player__right__tab>.MuiSvgIcon-root {
    color: var(--boldText);
}
