.search__container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.search__searchBar__input {
    position: relative;
}

.search__searchBar__input>input {
    outline: none;
    border: none;
    height: 2rem;
    width: 40rem;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    color: rgb(46, 46, 46);

    font-family: roboto;
}

.search__icon {
    position: absolute;
    top: 5px;
    right: 15px;

}

.search__icon>.MuiSvgIcon-root {
    font-size: 30px;
    color: rgb(196, 196, 196);
}