body {

    background-color: var(--black);
    overflow-y: scroll;
}
.MuiDialog-container{
    overflow-y: scroll;
}

.peopleMatchCard__content__buttons {
    display: flex;
    justify-content: space-around;
}

.peopleMatchCard__content__button>button {
    background: none;
    border: none;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-weight: 600;
    outline: none;
    border: 1px solid #499E4C;
    /* padding: 5px 30px 5px 30px; */
    width: 100px;
    height: 30px;
    /* background: rgb(226, 226, 226); */
    border-radius: 6px;
    /* color: rgb(75, 75, 75); */
    color: #499E4C;
    transition: 200ms;
    cursor: pointer;
    color: whitesmoke;
    background: var(--green);
}

.peopleMatchCard__content__button:hover>button {

    background: var(--greenHover);


}

.peopleMatchCard__content__button:active>button {


    transform: scale(0.98);


}

.peopleMatchCard__content__button__suggestMe>button {
    background: none;
    border: none;
    outline: none;
    border: 1px solid #499E4C;
    /* padding: 5px 30px 5px 30px; */
    width: 130px;
    height: 30px;
    /* background: rgb(226, 226, 226); */
    border-radius: 3px;
    /* color: rgb(75, 75, 75); */
    color: #499E4C;
    transition: 450ms;
    cursor: pointer;


}

.peopleMatchCard__content__button__suggestMe:hover>button {
    background: #499E4C;
    color: whitesmoke;
    font-weight: 900;


}

/* linear-gradient(180deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 3.5%, rgba(0, 0, 0, .379) 7%, rgba(0, 0, 0, .377) 10.35%, rgba(0, 0, 0, .375) 13.85%, rgba(0, 0, 0, .372) 17.35%, rgba(0, 0, 0, .369) 20.85%, rgba(0, 0, 0, .366) 24.35%, rgba(0, 0, 0, .364) 27.85%, rgba(0, 0, 0, .361) 31.35%, rgba(0, 0, 0, .358) 34.85%, rgba(0, 0, 0, .355) 38.35%, rgba(0, 0, 0, .353) 41.85%, rgba(0, 0, 0, .351) 45.35%, rgba(0, 0, 0, .35) 48.85%, rgba(0, 0, 0, .353) 52.35%, rgba(0, 0, 0, .36) 55.85%, rgba(0, 0, 0, .371) 59.35%, rgba(0, 0, 0, .385) 62.85%, rgba(0, 0, 0, .402) 66.35%, rgba(0, 0, 0, .42) 69.85%, rgba(0, 0, 0, .44) 73.35%, rgba(0, 0, 0, .46) 76.85%, rgba(0, 0, 0, .48) 80.35%, rgba(0, 0, 0, .498) 83.85%, rgba(0, 0, 0, .515) 87.35%, rgba(0, 0, 0, .529) 90.85%, rgba(0, 0, 0, .54) 94.35%, rgba(0, 0, 0, .547) 97.85%, rgba(0, 0, 0, .55)); */